@page
@model Alpacashow.Mvc.Pages.Showevents.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ShowEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShowEvent.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowEvent.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShowEvent.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowEvent.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShowEvent.Judge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowEvent.Judge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShowEvent.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowEvent.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShowEvent.Archived)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowEvent.Archived)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ShowEvent.ShowEventId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
